<form action="/register" method="POST" class="w-50 mx-auto mt-5">

<div class ="title">
  
  <!-- Navigation Bar for login -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Degree Audit</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="stats.html">Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register.html">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logout.html">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
      
  <p>
    WELCOME TO BUFF BUSTERS
  </p>
  <p1>
    Buff Buster is the degree audit simplifer. This website will help give you a comprehensive view of youre degree audit including: classes you have taken, how far
    you are through your degree, and possible classes you can take given your current status. Please log in using your identikey!
  </p1>
  <style>
    p{
      color:gold;
      font-size: x-large;
      font-weight: 300;
      text-align: center;
    }
    p1{
      color:white;
      font-size: medium;
      font-weight: 100;
      text-align: center;
    }
  </style>
</div>

  <div class="form-group mb-3">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>

  <div class="form-group mb-3">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>

  <button type="submit" class="btn btn-primary">Register</button>
</form>