<form action="/logout" method="GET">
  <h1>You have logged out sucessfully. Thank you for using our degree audit!</h1>

  <style>
    h1{
      color:gold;
      text-align: center;
    }
  </style>
</form>
